body { background: ('images/BG1');
/*background-size:cover;*/
}

a:link{
	color: purple;
	text-decoration: underline;
}

a:visited{
	color: #b0aeb0;
	text-decoration: none;
}
	
/*Fits text into the white area*/
div.story {
	@font-face{
		font-family: Monkey;
		src: url('fonts/Monkey.ttf');}
	text-align: left;
	font-family: Monkey
	color: #b0aeb0;
	clear: right; 
	background-color: #000; 
	max-width: 580px; 
	clear: left; 
	height: 100%; 
	padding: 20px;
	overflow: scroll;}
	
.header {
	@font-face: Smart;
	src: url('fonts/Smart.ttf');}
	text-align: center;
	font-family: Smart;
	color: #5e2359;
	height: 100%; 
	clear: right; 
	max-width: 580; 
	padding: 10px; 
	border-color: #970ecc;
	border-width: thick;

background: #d8e0de; /* Old browsers */

background: -moz-linear-gradient(-45dg,  #d8e0de 0%, #3c3d3b 2%, #aebfbc 12%, #3c3d3b 25%, #99afab 38%, #3c3d3b 51%, #829d98 61%, #3c3d3b 74%, #829d98 88%, #0e0e0e 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d8e0de), color-stop(2%,#3c3d3b), color-stop(12%,#aebfbc), color-stop(25%,#3c3d3b), color-stop(38%,#99afab), color-stop(51%,#3c3d3b), color-stop(61%,#829d98), color-stop(74%,#3c3d3b), color-stop(88%,#829d98), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(-45deg,  #d8e0de 0%,#3c3d3b 2%,#aebfbc 12%,#3c3d3b 25%,#99afab 38%,#3c3d3b 51%,#829d98 61%,#3c3d3b 74%,#829d98 88%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(-45deg,  #d8e0de 0%,#3c3d3b 2%,#aebfbc 12%,#3c3d3b 25%,#99afab 38%,#3c3d3b 51%,#829d98 61%,#3c3d3b 74%,#829d98 88%,#0e0e0e 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(-45deg,  #d8e0de 0%,#3c3d3b 2%,#aebfbc 12%,#3c3d3b 25%,#99afab 38%,#3c3d3b 51%,#829d98 61%,#3c3d3b 74%,#829d98 88%,#0e0e0e 100%); /* IE10+ */

background: linear-gradient(135deg,  #d8e0de 0%,#3c3d3b 2%,#aebfbc 12%,#3c3d3b 25%,#99afab 38%,#3c3d3b 51%,#829d98 61%,#3c3d3b 74%,#829d98 88%,#0e0e0e 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e0de', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

/*.map{
float: right;
clear: left;
background: ('images/UI_Map');
max-width: 580px;
}*/
/*div.scene*/

#footer {width: 100%; 
	float: left; 
	clear: left;}	
	
/*To resize the accordion*/
#accordion-resizer {
padding: 10px;
width: 578px;
height: 100% - 40px;
}


