body {background-image:url('../testdata/images/TestImage.png');
/*background-size:cover;*/
}
/*Fits text into the white area*/
div.header {
		margin-top: 580px;
		margin-right: 225px;
		margin-bottom: 30px;
		margin-left: 720px;
		width: 100%;
		}
.story {
	margin:auto;
	max-width: 475px;
	overflow: scroll;
  	background-color: #FFAA00; 
}

